<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <ul>
		<li><a href="/">Home</a></li>
		<li><a href="/sentiment_analyser">Sentiment Analyiser</a></li>
		<li><a  href="/contact">Contact</a></li>
		<li><a class="active"  href="/about">About</a></li>
	  </ul>
      <div class="about">
        <h1>Welcome to our Indian Restaurant</h1>
        <p class="about1">Where we bring the vibrant flavors and aromas of India to your plate. Our menu is a journey through the diverse culinary traditions of India, featuring classic dishes as well as modern interpretations. From savory curries to tandoori specials and aromatic biryanis, we offer an authentic taste of India that will tantalize your taste buds.</p>
        <p class="about1">Our chefs use only the freshest and finest ingredients to prepare each dish with care and attention to detail. We believe that food is not just nourishment for the body, but also for the soul. That's why we put our hearts into every dish we create, so that you can savor the true essence of Indian cuisine.</p>
        <p class="about1">We take pride in offering warm hospitality and excellent service to all our guests. Whether you're in the mood for a quick lunch or a leisurely dinner, we have something for everyone. And for those with dietary restrictions, we have plenty of vegetarian, vegan, and gluten-free options as well.</p>
        <p class="about1">Come and experience the flavors of India at our restaurant. We promise you a culinary journey that you will cherish and remember for a long time to come.</p>
      </div>
    
</body>
</html>